apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vueca-dev
commonLabels:
  app.kubernetes.io/instance: dev
  app.kubernetes.io/part-of: vueca

resources:
- https://github.com/Viva-con-Agua/vueca.git?ref=develop
- ingress.yml
- namespace.yml

images:
- digest: sha256:f5e61546b5876bdb43596bdced38824d0f40bfcd19724b1a4236297d3823095b
  name: ghcr.io/viva-con-agua/vueca-storybook
