apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vueca-dev
commonLabels:
  app.kubernetes.io/instance: dev
  app.kubernetes.io/part-of: vueca

resources:
- https://github.com/Viva-con-Agua/vueca.git?ref=develop
- ingress.yml
- namespace.yml

images:
- digest: sha256:9399561e00be5b92134d03c953d92b004a6ba3d59c584e6dd8f306866457c72e
  name: ghcr.io/viva-con-agua/vueca-storybook
